body{
    background-color: rebeccapurple;
}

div{
    text-align: center;
    font-size: x-large;
}

div::after{
    content: ' Welcom to PW Skill Vishwa';
}

@media (min-width: 768px){
    body{
        background-color: aquamarine;
    }

    div::after{
        content: 'may I Comming pW Sk!ll';
    }
}

@media (min-width: 1000px){
    body{
        background-color: green;
    }

    div::after{
        content: 'may I Comming pW Sk!ll';
    }
}